<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Docatch</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel='stylesheet' type="text/css" href="{% static 'css/styles.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a href="{% url 'index' %}" class="navbar-brand ps-3"> Docatch </a>
    <!--    <a class="navbar-brand ps-3" href="index.html">Docatch</a>-->
    <!-- Sidebar Toggle-->
    <div class="nav">
        <!--        <a class="nav-link" href="homepage.html">-->
        <a href="{% url 'index' %}" class="nav-link">
            <div class="sb-nav-link-icon"></div>
            Home
        </a>
        <a href="{% url 'maketemplate' %}" class="nav-link" style="background-color: gray; text-align: center">
            <div class="sb-nav-link-icon"></div>
            템플릿 생성
        </a>
        <a href="{% url 'templateMenu' %}" class="nav-link">
            <div class="sb-nav-link-icon"></div>
            템플릿 사용
        </a>
    </div>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> -->
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4" style ="font-size: 1.5em">템플릿 이름: &nbsp;<input type = "text" name="templatename"></h1>
            <ol class="breadcrumb mb-4">
                <h2 class="mt-4" style ="font-size: 1em">대표 이미지를 첨부해주세요</h2>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="mb-4">
                        <form action="{% url 'uploadFile' %}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="uploadedFile">
                            {% csrf_token %}
                            <input type="submit" value="Upload">
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div style="text-align : center;">
                        <!--                        <img src="{%static 'images/mylove.jpg' %}">-->
                        {% load static %}
                        <img src="{% static 'assets/img/redbox.jpg' %}" alt="My Image" width="30"> : 자동인식
                        <img src="{% static 'assets/img/greenbox.jpg' %}" alt="My Image" width="30"> : 그룹부분
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            대표 사진
                        </div>
                        <!-- <div class="card-body"><canvas id="fileName" width="100%" height="40"></canvas></div> -->
                        <!-- <div class="image-show"><canvas id="image-show" width="100%" height="40"></canvas></div> -->
                        <div class="image-show" id="image-show"></div>

                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            분석결과
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>index</th>
                                    <th>열이름</th>
                                    <th>추출 값</th>
                                    <th>영역선택</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col xl-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <svg class="svg-inline--fa fa-table fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas"
                                 data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                      d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z">
                                </path>
                            </svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
                            사용 테이블
                        </div>
                        <div class="card-body">
                            <div class="dataTable-wrapper dataTable-loading dataTable-empty no-footer sortable searchable fixed-columns">
                                <div class="dataTable-top">
                                    <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                                        <option value="5">5</option>
                                        <option value="10" selected="">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select> entries per page</label></div>
                                    <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div>
                                </div>
                                <div class="dataTable-container">
                                    <table id="datatablesSimple1" class="dataTable-table">
                                        <thead>
                                        <tr>
                                            <th data-sortable="" style="width: 22.0036%;"><a href="#" class="dataTable-sorter">index</a>
                                            </th>
                                            <th data-sortable="" style="width: 23.9714%;"><a href="#" class="dataTable-sorter">열이름</a>
                                            </th>
                                            <th data-sortable="" style="width: 25.5814%;"><a href="#" class="dataTable-sorter">추출 값</a>
                                            </th>
                                            <th data-sortable="" style="width: 28.4436%;"><a href="#" class="dataTable-sorter">영역선택</a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="dataTables-empty" colspan="4">No entries found</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="dataTable-bottom">
                                    <div class="dataTable-info"></div>
                                    <nav class="dataTable-pagination">
                                        <ul class="dataTable-pagination-list"></ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <button class ="uploadbutton">
                            <a href="{% url 'index' %}">
                                이전 페이지
                            </a>
                        </button>
                    </div>
                    <div class="col-xl-6">
                        <nav>
                            <button type="button">
                                <a href="{% url 'makeGroup' %}">
                                    그룹만들기
                                </a>
                            </button>
                            <button type="button">
                                <a href="{% url 'index' %}">
                                    사용하기
                                </a>
                            </button>

                            <button type="button">
                                <a href="{% url 'index' %}">
                                    템플릿 생성
                                </a>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
    </main>
</div>
</div>

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script defer src ="{% static 'js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script defer src ="{% static 'js/datatables-simple-demo.js' %}"></script>
<script defer src ="{% static 'js/photo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</body>

</html>

